<%- include('./partials/_headers'); %>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-7"></div>
      <div class="col-md-5"> 
        <div class="card">
          <div class="card-body">
            <form action="/add" method="post">
              <div class="form-group">
                <input type="text" name="name" placeholder="Name" class="form-control" />
              </div>
              <div class="form-group pt-2">
                <input type="text" name="model" placeholder="Model" class="form-control" />
              </div>
              <div class="form-group pt-2">
                <input type="text" name="description" placeholder="Description" class="form-control" />
              </div>
              <div class="form-group pt-2">
                <input type="number" step="0.01" name="price" placeholder="Price" class="form-control" />
              </div>
              <div class="form-group pt-2">
                <input type="datetime" name="date" placeholder="Date" class="form-control" />
              </div>
              <div class="form-group pt-2">
                <input type="text" name="store" placeholder="Store" class="form-control" />
              </div>
              <div class="form-group pt-2">
                <input type="number" name="quantity" placeholder="Quantity" class="form-control" />
              </div>
              <div class="form-group pt-2 pb-2">
                <input type="text" name="project_id" placeholder="Project" class="form-control" />
              </div>

              <div class="form-group pt-2 pb-2">
                <select id="project" class="form-select">

                  <% for ( let i=0; i < data.length; i++ ) { %>
                    <option value="<%=data[i].id %>">
                      <%=data[i].name %>
                    </option>
                    <% } %>
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Add product</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <%- include('./partials/_footer'); %>